{% extends "layout/base.html" %}
{% block title %} My Tags {% endblock %}
{% block content %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">URL and description</th>
      <th scope="col">Network</th>
      <th scope="col">Type</th>
      <th scope="col">Lang</th>
      <th scope="col">TAGS</th>
      <th scope="col" class="text-center">Expires IN days</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for record in records: %}
        {% if record['decoded']['description']: %}
    <tr>
      <td>
          <a href="/my/show/{{ record['name']|e }}" style="white-space: pre-wrap;">{{ record['decoded']['description']|e }}</a>
          -
          [<a href="{{ record['decoded']['url']|e }}">LINK</a>]
      </td>
      <td class="text-center">{{ record['decoded']['network'] }}</td>
      <td class="text-center">{{ record['decoded']['type'] }}</td>
      <td class="text-center">{{ record['decoded']['lang'] }}</td>
      <td class="text-center">{{ record['decoded']['tags'] }}</td>
      <td class="text-center">{{ record['expires_in'] }}</td>
      <td class="text-right">
          <a href="/my/edit/{{ record['name']|e }}">EDIT</a>
          <a href="#" class="delink" data-url="/my/delete/{{ record['name']|e }}">DELETE</a>
      </td>
    </tr>
        {% else: %}
    <tr>
      <td colspan="5">
          <a href="/my/show/{{ record['name']|e }}">
              {{ record['name']|e }}
          </a>
      </td>
      <td class="text-center">{{ record['expires_in'] }}</td>
      <td class="text-right">
          <a href="/my/edit/{{ record['name']|e }}">EDIT</a>
          <a href="#" class="delink" data-url="/my/delete/{{ record['name']|e }}">DELETE</a>
      </td>
    </tr>
        {% endif %}
    {% endfor %}
  </tbody>
</table>

{% endblock %}